<!DOCTYPE html>
{% load static %}
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>用户中心</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/global.css' %}">
    <link rel="stylesheet" href="{% static 'css/ucenter.css' %}">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_1222632_symce7ofddh.css">
</head>
<body>
    <div class="main_header">
        <div class="main_header_left">
            <ul>
                <li><a href="http://127.0.0.1:8000/">房源</a></li>
                <li><a href="http://127.0.0.1:8000/page/plot.html/">小区</a></li>
                <li><a href="javascript:" onclick="login_first('http://127.0.0.1:8000/page/publish.html/')">我要卖房</a></li>
            </ul>
        </div>
        <div class="main_header_right">
            <ul>
                <li><a href="javascript:" onclick="showlog()">登录</a></li>
                <li><a href="javascript:" onclick="showreg()">注册</a></li>
                <li class="hide"><a href="javascript:" onclick="login_first('http://127.0.0.1:8000/page/ucenter.html/')">{{request.session.user}}</a></li>
                <li class="hide"><a href="javascript:" onclick="logout();">退出</a></li>
            </ul>
        </div>
    </div>
    <div class="main_body">
        <div class="content">
            <div class="sale_left">
                <div class="main_title">
                    <div class="top_title">--- 发布的二手房信息 ---</div>
                    <div class="edit_button">
                        <input type="button" class="btn_blue" id="main_edit" value="编辑">
                        <input type="button" class="btn_blue hide" id="main_finish" value="完成">
                    </div>
                </div>
                <ul class="houses" id="items" style="font-size: 16px">
                    <li>您暂未发布任何信息</li>
                </ul>
                <div id="page"></div>
            </div>
            <div class="sale_right">
                <div class="user_img">
                    <img style="border-radius: 90px" width="180" height="180" src="https://tse1-mm.cn.bing.net/th/id/OIP.2sw8EVMI5ZGik5P-Pd0XdQHaHq?pid=Api&rs=1" alt="">
                </div>
                <div class="userinfo">
                    <div class="item" id="realname">王小浩</div>
                    <div class="item littleitem" id="gender">性别：无</div>
                    <div class="item littleitem" id="age">年龄：无</div>
                    <div class="item" id="tel">手机号：未填写</div>
                    <div class="item" id="self_introduction">这个人很懒，什么都没有写</div>
                    <form action="" id="main_form">
                        <input type="text" id="edit_realname" placeholder="真实姓名" name="realname">
                        <input type="text" id="edit_gender" placeholder="性别" name="gender">
                        <input type="text" id="edit_age" placeholder="年龄" name="age">
                        <input type="text" id="edit_tel" placeholder="手机号" name="tel">
                        <textarea type="text" id="edit_self_introduction" placeholder="个性签名" name="self_introduction"></textarea>
                    </form>
                    <div class="item" id="edit">
                        <a href="javascrapt:;" onclick="change_userinfo();">编辑</a>
                    </div>
                    <div class="item littleitem" id="finish" style="display: none">
                        <a href="javascrapt:;" onclick="updateuserinfo()">完成</a>
                    </div>
                    <div class="item littleitem" id="cancel" style="display: none">
                        <a href="javascrapt:;" onclick="cancel()">取消</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="main_footer"></div>
    <div id="login-page" class="login-page hide">
        <div class="login-title">
            <div class="login-tab select">登&nbsp&nbsp录</div>
            <div class="login-tab" onclick="showreg();">注&nbsp&nbsp册</div>
        </div>
        <div class="login-register">
            <div class="login-form">
                <div class="msg-wrap" id="login-msg"></div>
                <div class="form">
                    <form action="javascript:" id="formlogin" method="post" onSubmit="return false;">
<!--                            用户名-->
                        <div class="item">
                            <label for="username">
                                <div class="input-icon iconfont icon-yonghu"></div>
                            </label>
                            <input type="text" name="username" id="username" class="itxt" tabindex="1" autocomplete="off" placeholder="用户名/手机号">
                        </div>
<!--                            密码-->
                        <div id="pwd" class="item" style="visibility: visible">
                            <label for="nloginpwd">
                                <div class="input-icon iconfont icon-tubiaozhizuomobanyihuifu-"></div>
                            </label>
                            <input type="password" name="password" id="nloginpwd" class="itxt" tabindex="2" autocomplete="off" placeholder="密码">
                        </div>
<!--                            验证码-->
                        <div id="o-authcode" class="item hide">
                            <label for="authcode">
                                <div class="input-icon iconfont icon-ecurityCode"></div>
                            </label>
                            <input type="text" id="authcode" class="itxt02" name="authcode" tabindex="3" placeholder="请输入验证码">
                            <input type="text" id="code"  class="verify-code" onclick="createCode()" readonly  unselectable="on">
                        </div>
<!--                            登录按钮-->
                        <div class="item">
                            <div class="login-btn" id="loginsubmit" onClick="validate();">
                                登&nbsp;&nbsp;&nbsp;&nbsp;录
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div id="allb" class="hide" onclick="hidelog()"></div>
</body>
<script src="{% static 'js/jquery-3.3.1.js' %}"></script>
<script src="{% static 'js/some_fuc.js' %}"></script>
<script src="{% static 'js/checkcode.js' %}"></script>
<script src="{% static 'js/xlPaging.js' %}"></script>
<script>
    is_login();
    login_backhome();
    get_datas('http://127.0.0.1:8000/user/getuserpub/');
</script>
<script>
    function change_userinfo() {
        $('#edit').hide();
        $('#finish ,#cancel').show();
        $('#realname, #gender, #age, #tel, #self_introduction').hide();
        $('#edit_realname, #edit_gender, #edit_age, #edit_tel, #edit_self_introduction').show();
    }
    function cancel() {
        $('#edit').show();
        $('#finish ,#cancel').hide();
        $('#realname, #gender, #age, #tel, #self_introduction').show();
        $('#edit_realname, #edit_gender, #edit_age, #edit_tel, #edit_self_introduction').hide();
    }
</script>
<script>
    function insert_userinfo() {
        $.ajax({
            url: 'http://127.0.0.1:8000/user/getlog/',
            type: 'get',
            data: null,
            success: function (res) {
                $.ajax({
                    url: 'http://127.0.0.1:8000/user/userinfo/'+res+'/',
                    type: 'get',
                    data: null,
                    dataType: 'json',
                    success: function (res) {
                        for (var item in res) {
                            if (res[item]) {
                                $(`#${item}`).text(res[item]);
                                $(`#edit_${item}`).val(res[item]);
                            }
                        }
                    }
                })
            }
        });
    }
    function updateuserinfo() {
        let data = $("#main_form").serializeArray();
        let datas = {};
        for(let i = 0; i < data.length; i++){
            datas[data[i].name] = data[i].value;
        }
        $.ajax({
            url: 'http://127.0.0.1:8000/user/getlog/',
            type: 'get',
            data: null,
            success: function (res) {
                $.ajax({
                    url: 'http://127.0.0.1:8000/user/userinfo/'+res+'/',
                    type: 'put',
                    data: datas,
                    dataType: 'json',
                    success: function () {
                        insert_userinfo();
                        cancel();
                    }
                })
            }
        });
    }
    insert_userinfo();
</script>
<script>
    $('#main_edit').on('click', function () {
        $(this).hide();
        $('.buttons, #main_finish').show();
    });
    $('#main_finish').on('click', function () {
        $(this).hide();
        $('.buttons').hide();
        $('#main_edit').show();
    });

</script>
</html>